<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset=" UTF-8">
    <meta name="viewport" content="Width=device-Width,initial-scale=1.0">
    <title>사용하기</title>
    <script src="/js/jquery-3.7.1.js"></script>

    <link href="/css/bootstrap.css" rel="stylesheet">

    <script src="/js/bootstrap.bundle.js"></script>


</head>
<body>
<footer th:fragment="footer" class="bg-secondary-subtle container-fluid mt-5">
    <div class="mt-5 p-5 border-top border-2">
        <p class="text-muted text-center">made by bitcTeam3</p>
    </div>
</footer>
</body>
</html>
