<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="/css/bootstrap.css">

  <script src="/js/jquery-3.7.1.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>

  <script>
    $(document).ready(function () {
      $("#frm").on("submit", function () {
          if ($("#user-pw").val() == $("#user-pw-chk").val()) {
              $("#method").val("PUT");

              const frm = $("#frm")[0];
              frm.action = "/changePassword";
              frm.submit();
          }
          else {
              alert("비번 다름");
          }
      });

     // $("#btn-change-pw").on("click", function () {
     //     // $("#method").val("PUT");
     //     //
     //     // const frm = $("#frm")[0];
     //     // frm.action = "/changePassword";
     //     // frm.submit();
     // });
    });
  </script>

</head>
<body>
  <div class="container mt-5">
    <form id="frm" action="/changePassword" method="post">
      <input type="hidden" id="method" name="_method">
      <input type="hidden" name="userId" th:value="${userId}">
      <div class="form-floating">
        <input type="password" class="form-control" id="user-pw" name="userPw" placeholder="바꿀 PW">
        <label for="user-pw" class="form-label">바꿀 pw</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="user-pw-chk" name="userPwChk" placeholder="바꿀 PW 재입력">
        <label for="user-pw-chk" class="form-label">바꿀 pw 재입력</label>
      </div>
      <button type="submit" class="btn btn-primary" id="btn-change-pw">비밀번호 수정</button>
    </form>
  </div>
</body>
</html>