<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" href="/css/bootstrap.css">

  <script src="/js/jquery-3.7.1.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>

</head>
<body>
<div class="container mt-5">
  <form action="/changePassword" method="post">
    <input type="hidden">
    <div class="form-floating">
      <input type="text" class="form-control" id="user-id" name="userId" placeholder="찾으실 계정의 ID">
      <label class="form-label" for="user-id">찾으실 계정의 ID</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="email" name="email" placeholder="찾으실 계정의 Email">
      <label for="email" class="form-label">찾으실 계정의 Email</label>
    </div>
    <button type="submit" class="btn btn-primary">PW찾기</button>
  </form>
</div>
</body>
</html>